/org/freedesktop/*
/org/codehaus/*
/org/sonatype/*
/org/osgi/*
/org/easymock/*
/org/bouncycastle/*
/org/eclipse/*
/org/hamcrest/*
/org/igniterealtime/*
/org/sample/*
/org/slf4j/*
/org/xmpp/*
#/org/
#/org/
/classworlds/*
/ch/*
/dom4j/*
/javax/*
/junit/*
/backport-util-concurrent/*
/biz/*
/com/*
/commons-cli/*
/commons-codec/*
/commons-collections/*
/commons-io/*
/commons-lang/*
/commons-logging/*
/dnsjava/*
/log4j/*
/net/*
/oro/*
/xpp3/*
/xml-apis/*
